@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

// HERO SECTION
.hero {
	padding: 17em 2em;

	border: 2px solid grey;

	color: $clr-white;

  h1{
    padding-bottom: 1em;
    font-size: $f-s-1200;
    font-weight: $f-w-700;
  }

  p {
    padding-bottom: 2em;

		font-size: $f-s-440;
		letter-spacing: .02rem;
		span {
			font-weight: $f-w-600;
		}
  }

	span {
		color: $clr-goldweb;
	}

	&__message {
		width: 30%;
	}
  &__btn {
		display: inline;

		padding: .4em .7em;
		background-color: $clr-goldweb;
		border-radius: .2rem;

		span {
			font-size: $f-s-340;
			font-weight: $f-w-800;
			color: $clr-background;
		}
		span:hover {
			color: $clr-goldweb;
		}
  }
	&__btn:hover {
		background-color: $clr-background;
	}
}

// PARTNERS SECTION
.partners {
	display: flex;

	padding: 1em 0;
	background-color: $clr-white;

	border: 2px solid grey;
	&__container {
		margin: 0 auto;
		padding: 2em 0;
		img {
			width: 20vw;
			height: auto;
			margin-bottom: 0.2em;
		}
	}
}

// FEATURE SECTION
.features {
	padding: 5em 2em;
	border: 2px solid grey;

	color: $clr-white;
	h2 {
		margin-bottom: 1em;

		font-weight: $f-w-600;
	}
}

// SOCIAL SECTION
.social {
	padding: 5em 2em;
	border: 2px solid grey;

	color: $clr-white;

	h2 {
		margin-bottom: 1em;

		font-weight: $f-w-600;
		text-align: center;
	}
	&__grid {
		display: flex;
		justify-content: center;
		gap: 1em;
	}
}

// STORY SECTION
.story {
	padding: 5em 2em;
	border: 2px solid grey;

	color: $clr-white;

	h2 {
		margin-bottom: 1em;

		font-weight: $f-w-600;
	}
}

// TEAM SECTION
.team {
	padding: 5em 2em;

	border: 2px solid grey;

	color: white;
	h2 {
		padding-bottom: 2em;
	}
	&__grid {
		display: flex;
		justify-content: center;
		gap: 1em;
	}
}

.last {
	padding: 2em 0;
	background-color: burlywood;

	border: 2px solid black;
	&__link {
		width: 10vw;
		margin: 0 auto;

		border: 2px solid black;

		text-align: center;
	}
}
