@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

// HERO SECTION
.hero {
	padding: 17em 2em;

	border: 2px solid grey;

	color: $clr-white;

  h1{
    padding-bottom: 1em;
    font-size: $f-s-1200;
    font-weight: $f-w-700;
  }

  p {
    padding-bottom: 2em;
  }

	span {
		color: $clr-goldweb;
	}

	&__message {
		width: 30%;
	}
  &__btn {
		display: inline;

		padding: .4em .7em;
		background-color: $clr-goldweb;
		border-radius: .2rem;

		span {
			font-size: $f-s-340;
			font-weight: $f-w-800;
			color: $clr-background;
		}
		span:hover {
			color: $clr-goldweb;
		}
  }
	&__btn:hover {
		background-color: $clr-background;
	}
}

// PARTNERS SECTION
.partners {
	display: flex;
	justify-content: center;

	padding: 1em 0;
	background-color: aliceblue;

	border: 2px solid black;
	&__container {
		display: flex;
		align-items: center;
		gap: 2em;
	}
}

.features {
	padding: 5em 2em;
	background-color: navajowhite;

	border: 2px solid black;
}

.social {
	padding: 5em 2em;
	background-color: mediumturquoise;

	border: 2px solid black;

	h2 {
		margin-bottom: 2em;
	}
	&__grid {
		display: flex;
		justify-content: center;
		gap: 1em;
	}
}

.faq {
	padding: 5em 2em;
	background-color: plum;

	border: 2px solid black;
}

.story {
	padding: 5em 2em;
	background-color: honeydew;

	border: 2px solid black;
}

.team {
	padding: 5em 2em;
	background-color: darkslategray;

	border: 2px solid black;

	color: white;
	h2 {
		padding-bottom: 2em;
	}
	&__grid {
		display: flex;
		justify-content: center;
		gap: 1em;
	}
}

.last {
	padding: 2em 0;
	background-color: burlywood;

	border: 2px solid black;
	&__link {
		width: 10vw;
		margin: 0 auto;

		border: 2px solid black;

		text-align: center;
	}
}
