@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;

// HERO SECTION
.hero {
	padding: 17em 3.5em;

	background-image: url("../../public/images/assets/pattern.png");
	background-size: 100%;
	background-position: center;

	color: $clr-white;

	h1 {
		padding-bottom: 1em;
		font-size: $f-s-1700;
		font-weight: $f-w-700;
	}

	p {
		padding-bottom: 2em;

		font-size: $f-s-440;
		letter-spacing: 0.02rem;
		span {
			font-weight: $f-w-600;
		}
	}

	span {
		color: $clr-goldweb;
	}

	&__message {
		width: 50%;
	}
	&__btn {
		display: inline;

		padding: .7em 2.3em;
		background-color: $clr-goldweb;
		border-radius: 0.2rem;

		span {
			font-size: $f-s-340;
			font-weight: $f-w-800;
			color: $clr-background;
		}
		span:hover {
			color: $clr-goldweb;
		}
	}
	&__btn:hover {
		background-color: $clr-background;
	}
}

// PARTNERS SECTION
.partners {
	display: flex;

	width: 90%;
	margin: 0 auto;
	padding: 1em 0;
	background-color: $clr-transparent;
	backdrop-filter: blur(1rem);
	border-radius:  .7rem;

	&__container {
		margin: 0 auto;
		padding: 2em 0;
		img {
			width: 20vw;
			height: auto;
			margin-bottom: 0.2em;
		}
	}
}

// FEATURE SECTION
.features {
	width: 90%;
	margin: 0 auto;
	padding: 5em 0;

	color: $clr-white;
	h2 {
		margin-bottom: 1em;
	}
}

// SOCIAL SECTION
.social {
	width: 90%;
	margin: 0 auto;
	padding: 5em 0;

	color: $clr-white;

	h2 {
		margin-bottom: 1em;
	}
	p {
		white-space: pre-line;
		vertical-align: bottom;
	}
	&__grid {
		display: flex;
		justify-content: center;
		gap: 1em;
	}
}

// STORY SECTION
.story {
	width: 90%;
	margin: 0 auto;
	padding: 5em 0;

	color: $clr-white;

	h2 {
		margin-bottom: 1em;
	}

	p {
		font-family: 'Roboto', sans-serif;
		font-weight: $f-w-300;
		letter-spacing: 0.02rem;
	}
}

// TEAM SECTION
.team {
	width: 90%;
	margin: 0 auto;
	padding: 5em 0;

	color: white;

	h2 {
		margin-bottom: 2em;
	}

	&__grid {
		display: flex;
		justify-content: center;
		gap: 1em;
	}
}

// LAST CALL TO ACTION SECTION
.last {
	padding: 2em 0;

	color: $clr-white;

	h2 {
		text-align: center;
	}

	p {
		width: 28vw;
		margin: 0 auto;
		padding-top: 1.3em;
		padding-bottom: 2em;

		font-family: 'Roboto', sans-serif;
		font-size: $f-s-380;
		font-weight: $f-w-300;
		text-align: center;
		line-height: 1.3em;
	}

	&__container {
		width: 90%;
		margin: 0 auto;
		padding: 2em;
		background-color: $clr-card;
		border-radius: .7rem;
	}

	&__container > h2 {
		padding-bottom: .3em;
	}

	&__btn {
		width: 13em;
		margin: 0 auto;
		padding: 0.5em 0.9em;
		background-color: $clr-goldweb;
		border-radius: 0.2rem;

		text-align: center;

		span {
			font-size: $f-s-340;
			font-weight: $f-w-800;
			color: $clr-background;
			text-align: center;
		}
		span:hover {
			color: $clr-goldweb;
		}
	}

	&__btn:hover {
		background-color: $clr-background;
	}
}
