// COLOR VARIABLES
$clr-background: hsl(240, 3%, 21%);
$clr-card: hsl(240, 1%, 35%);
$clr-light-grey: hsla(0, 0%, 100%, 0.85);
$clr-white: hsl(0, 100%, 100%);
$clr-transparent: hsla(0, 100%, 100%, .8);
$clr-goldweb: hsl(51, 100%, 50%);