@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.footer {
	display: flex;
	justify-content: space-between;

	width: 90%;
	margin: 0 auto;
	padding: 2em 0;

	color: $clr-white;
	text-align: center;

	&__image {
		img {
			width: 37vw;
			height: auto;
		}
	}

	&__here {
		padding-top: 2em;

		text-align: left;

		h2 {
			font-weight: $f-w-600;
			padding-bottom: 1.3em;
		}

		p {
			font-family: 'Roboto', sans-serif;
			font-size: $f-s-300;
			font-weight: $f-w-300;
		}
	}

	&__talk {
		padding-top: 2em;

		text-align: left;

		h2 {
			font-weight: $f-w-600;
			padding-bottom: 1.3em;
		}
	}

	&__email {
    padding-bottom: 1em;

		font-family: 'Roboto', sans-serif;
		font-size: $f-s-300;
		font-weight: $f-w-400;
	}

	&__btns {
		display: flex;
		flex-direction: column;
		gap: .5em;

    padding-bottom: 5em;

		a {
			background-color: $clr-goldweb;
      border-radius: .2rem;

      text-align: center;
			color: $clr-background;
      span {
        font-size: $f-s-300;
        font-weight: $f-w-600;
      }
		}
	}

  &__social {
    span {
      font-family: "Roboto", sans-serif;
      font-size: $f-s-340;
    }
  }
	&__icons {
		display: flex;
    gap: 1em;

		img {
			width: 1.3em;
		}
	}

  &__sitemap {
    padding-top: 2em;

    text-align: left;

    a {
      font-size: $f-s-340;
    }
  }

  &__links {
    padding-bottom: 5em;
  }

  &__copy {
    font-size: $f-s-340;
  }
}
