@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.social {
	p {
		white-space: pre-line;
		vertical-align: bottom;
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: 30vw;
		height: 100%;
		padding: 2em;
		background-color: $clr-card;
		border-radius: 0.7rem;
	}

	&__comment {
		display: flex;

		img {
			padding-right: .3em;
		}

		p {
			padding-bottom: 2em;

			font-family: 'Roboto', sans-serif;
			font-size: $f-s-340;
			font-weight: $f-w-300;
			font-style: italic;
			letter-spacing: .02rem;
		}
	}

	&__user {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			font-size: $f-s-300;
		}

		&--persona {
			display: flex;
			align-items: center;
		}

		img {
			padding-right: 0.3em;
		}
		h5 {
			font-weight: $f-w-600;
		}

    &--social {
      display: flex;
      align-items: baseline;
      gap: .3em;

      img {
        padding-right: 0;
      }
    }
	}
}
