html,
body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: mediumseagreen;
  border: 2px solid black;
}

.hero {
  background-color: mediumorchid;
  border: 2px solid black;
}

.partners {
  background-color: aliceblue;
  border: 2px solid black;
}

.features {
  background-color: navajowhite;
  border: 2px solid black;
}

.social {
  background-color: mediumturquoise;
  border: 2px solid black;
  &__grid {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
  }
  &__user {
    display: flex;
  }
}

.faq {
  background-color: plum;
  border: 2px solid black;
}

.story {
  background-color: honeydew;
  border: 2px solid black;
}

.team {
  background-color: darkslategray;
  border: 2px solid black;
  color: white;

  &__grid {
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  &__card {
    width: 27%;
  }
}

.last {
  background-color: burlywood;
  border: 2px solid black;
}

.footer {
  text-align: center;

  background-color: tomato;
  border: 2px solid black;
}

